# Puesto para desarrollo; ajusta según tu entorno
PORT=7001

# ==============================
# POSTGRESQL
# ==============================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=emphasys
DB_USER=postgres
DB_PASSWORD=postgres

# ==============================
# AUTH (JWT)
# ==============================
JWT_SECRET=emphasys_super_secret
JWT_EXPIRES_IN=12h



# ==============================
# FACTURAMA (SANDBOX)
# ==============================
FACTURAMA_BASE_URL=https://apisandbox.facturama.mx
FACTURAMA_USER=
FACTURAMA_PASSWORD=
FACTURAMA_STAMP_PATH=/cfdi40/stamp
